{% extends 'dashboard/header.html' %}
{% load static %}
{% block content %}
 <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
 <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>User Details</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Roles</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>All Students Data</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">...</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </div>
                        <form class="mg-b-20">
                            <div class="row gutters-8">
                                <!-- <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Roll ..." class="form-control">
                                </div> -->
                               <!--  <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Name ..." class="form-control">
                                </div> -->
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text"  class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                       <!--  <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">Sl</label>
                                            </div>
                                        </th> -->
                                        <!-- <th>Photo</th> -->
                                        <th>Emp Id</th>
                                        <th>Emp Name</th>
                                        <th>Role</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for user_details in user_details %}
                                    <tr>
                                       
                                            <!-- <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">{{ forloop.counter }}</label>
                                                </div>
                                            </td> -->
                                            <td></td>
                                            <!-- <td class="text-center"><img src="img/figure/student2.png" alt=""></td> -->
                                            <td><a href="/accounts/edit-user/{{user_details.user.id}}/">{{ user_details.user.first_name }} {{ user_details.user.last_name }}</td> 
                                            <td>{{ user_details.user_role }}</td>
                                            <td>{{ user_details.user.email }}</td>
                                            <td>{{ user_details.mobile }}</td> 
                                            
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <span class="">Action</span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="/accounts/edit-uesr/{{user_details.user.id}}/"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button class="open-button" onclick="addRoles()">Add Roles</button>
<div class="form-popup" id="myForm">
    <form action="/accounts/roles/" method = "post" class="form-container">
        <h1>Create Territory</h1>
            <label for="name"><b>Territory Name</b></label>
            <input type="text" placeholder="Enter Territory Name" name="territoryname" required>
            <label for="parentterriority"><b>Parent Territory</b></label>
            <div id="select_box"></div>
            <button type="submit" class="btn">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<script type="text/javascript">
function addRoles() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
        $('#parentterriority').ready(function(){
            $.ajax({
                    url: "/accounts/territory/",
                    type: "GET",
                    contentType: false,
                    processData:false,
                    success: function(data)
                    {
                        json = JSON.parse(data)  
                        var html = '' 
                        html += '<select name="parentterriority" id="parentterriority" class="form-container">'+
                                '<option value="">select</option>';
                        for(i=0;i<json.length;i++){
                            html += '<option value="' + json[i]['fields']['roles']+ '">'+json[i]['fields']['roles']+'</option>';
                        }        
                        html += '</select>';
                        $('#select_box').html(html);
                    },
                    error: function() 
                    {

                    }           
            });
        });
</script>
{% endblock %}
