{% extends 'dashboard/header.html' %}
{% load static %}
{% block content %}
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>User Details</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Workflow</li>
                    </ul>
                </div> 
                <form  action="/workflow/" method="POST">
                    <div class="modal fade" id="myModal" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="margin-top: 115px;">
                          <div class="modal-content form-elegant" style="width:415px;">
                            <button type="button" class="close" style="padding-top: 10px" data-dismiss="modal">&times;</button>
                            <div class="modal-header modalHeadpad">                                
                                <h4 class="modal-title modalAlignCenter">Create New Rule</h4>                            
                            </div>
                            <div class="modal-body modalBodyPad">
                                <label>Module</label>
                                <select name="module">
                                  <option >Select</option>
                                {% for module in module %}
                                      <option value="{{module.module.module}}">{{module.module.module}}</option>
                                {% endfor %}
                                </select><br>
                                <label>Rule Name</label>
                                    <input type="text" name="rule_name" class="modalInputBorder"><br>
                                <label>Description</label>
                                    <input type="text" name="description" class="modalInputBorder">
                            </div>
                            <div class="modal-footer modalFooterpad">
                              <button type="button" class="btn btn-danger modalButtonFont" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary modalButtonFont">save</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </form>
                <!-- Breadcubs Area End Here -->
                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>All Students Data</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle"data-toggle="modal" data-target="#myModal" role="button" aria-expanded="false"><i class="fa fa-plus-circle addButtonColor" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <form class="mg-b-20">
                            <div class="row gutters-8">
                                <!-- <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Roll ..." class="form-control">
                                </div> -->
                               <!--  <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Name ..." class="form-control">
                                </div> -->
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text"  class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">Id</label>
                                            </div>
                                        </th>
                                        <!-- <th>Photo</th> -->
                                        <th>Module</th>
                                        <th>Rule Name</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for createrule in createrule %}
                                    <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">{{ forloop.counter }}</label>
                                                </div>
                                            </td>
                                            <!-- <td class="text-center"><img src="img/figure/student2.png" alt=""></td> -->
                                            <td>{{createrule.module}}</td> 
                                            <td><a href="/workflow/workflowsave/{{createrule.id}}">{{createrule.rule_name}}</td>
                                            <td>{{createrule.description}}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <span class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="/module/listformview/{{listform.id}}"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
<script src="{% static 'js/ajax-jquery.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $(".settings-subgroup").addClass("sub-group-active");
        $(".workflow").addClass("menu-active");
   });
</script>             
{% endblock %}
