body{
	 font-family: 'Open Sans',sans-serif !important;
	 padding-right: 0px !important;
}
.navbar{
	margin-bottom: 0px !important;
}
.nav-link{
	font-size: 14px !important;
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}
.movebottom {
   	position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
    background-color: #fff !important;
}
.header_image{
	padding-left: 3% !important;
	top: 9px;
}
.logo_image {
    width: 150px;
    padding-bottom: 5%;
}
.service_move{
	margin-left: 2%;
}
.sc_border {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	padding-top: 10px;
	line-height: 1.5;
	width:100%;
}
.schoolborder_size{
	margin-top: 1%;
	padding-bottom: 1%;
	font-family: 'Open Sans',sans-serif !important;
}
.home{
	color: #fff;
}
.home:hover{
	color: #f5791f;
	text-decoration: none;
}
.header_button{
	top: 5px;
	padding-left: 16% !important;
}
.headFourth{
	font-weight: bolder;
	font-size: 33px;
}
.headFourthP{	
	font-size: 20px !important;
}
.foot_text{
	font-size:12px;	
}
.foot_links{
	color: #fff;
	line-height: 1.6;
	font-family: 'Open Sans',sans-serif !important;
}
a:hover{
	text-decoration:none;
	font-weight: bolder;
}
.social_icons_color:hover{
color:#1D59A8;
}
.social_icons_color{
color:#b7b7b7;
}

.login_color{
	color: #fd7e14;
	font-family: 'Open Sans',sans-serif !important;
}
.register_button{
	background-color: #1D59A8;
	color: #fff;
	padding:2px 15px 2px 15px;
	border-radius: 8px;
	font-family: 'Open Sans',sans-serif !important;
}
.image_cover{
	background-image: url('../images/banner_cover.jpg');	
	background-size: cover;
	height: auto;
	width:100%;
	text-align: center;
	padding-top: 7%;
	padding-bottom: 9%;
	
}
.cover_button{
	background-color: #fd7e14;	
	width: 250px;
	opacity: 1;
	color:#fff;
	font-size: 18px;
	font-family: 'Open Sans',sans-serif !important;
	padding:1 !important;
	border-radius: 8px;
	font-weight: bold;

}
.cover_button:hover {
	color:#fff !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background-color: #fd7e14;
	width: 270px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}

.cover_text{	
	font-family: 'Open Sans',sans-serif !important;
	/*font-style: normal;
	font-weight: bold;*/
	padding-top: 85px;
	font-weight:bolder;
	font-size:65px;
	color:#fff;
}
.cover_text_p{	
	font-family: 'Open Sans',sans-serif !important;
	font-weight: normal;
	color:#fff;
	font-size: 24px !important;
	padding-bottom:3%;
}
p {
    font-size: 14px !important;
}
.main_heading{
	background: #1D59A8;
	text-align: center;
	color: #fff;
	padding-top: 2%;
	padding-bottom: 2%;
}

.heading_align{
	text-align:center;
	color: #fd7e14;
	font-family: 'Open Sans',sans-serif !important;
	padding-top: 5%;
	padding-bottom: 4%;
	font-size:33px;
	font-weight: bolder;
}
.phone_img{
	width: 222px;
	height: 400px;
}
.phone_nopadding{
	padding-left:0px !important;;
	padding-right:0px !important;;
}
.text_padding_blk{
	text-align: left;
	padding-left: 10%;
	padding-top:2%;
	color:#000;
}
.text_padding_blk_p{
	text-align: left;
	color:#b7b7b7;

}
.icon_padding_blk{
	padding-top:2%;
	padding-right:4%;
	text-align:center;
}
.icon_padding_blk_left{
	padding-left:15%;
	padding-top:2%;
}

.second_main_heading{	
	text-align: center;
	color: #fd7e14;
	padding-top: 4%;
	padding-bottom: 0.2%;
	font-weight: bold;
	font-size: 33px !important;
}
.p_text_align_center{
	text-align: center;
	font-size: 16px !important;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom:2%;
}
.text_alignc{
	text-align:center;
	color:#6c757d;
	font-size: 16px;
	padding-top: 5%;
}
.laptop_width{
	width: 100%;
}
.laptop_text_align{	
	padding-top: 2%;
	text-align: justify;
	padding-right: 2%;
	padding-bottom: 2%;
}
.laptop_blk_heading{
	text-align: center;
	color: #fd7e14;
	padding-bottom: 1%;
	padding-top: 0%;
	font-weight: bolder;
}
.laptop_span_blue{
	color :#1D59A8;
}

.form_col2 {
    columns: 2 auto;
    column-gap: 30px;    
    text-align: center;  
    break-inside: avoid;
}

.reg_tab_half{
	width: 48.5%;
	display: inline-block;
}

.input_form_text{
	width:100%;
}
.reg_text_align_center{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
}
.heading_bold{
	font-weight: bolder;
	font-size:16px !important;
}
input{	
	padding-top: 2%;
	padding-bottom: 2%;
    background: transparent;
    border: none;   
    width: 350px;
    font-size: 14px;   
    display:inline-flex;
    padding-left: 4%;
    margin-bottom: 15px;
}
input[type="text"]{
	background-color: #fff;
	border-radius: 10px;
}
input[type="tel"]{
	background-color: #fff;
	border-radius: 10px;
}
input[type="password"]{
	background-color: #fff;
	border-radius: 10px;
}
.reg_button:hover{
	color: #fff;
	font-weight: bolder;
}
.reg_button{
	background-color: #1D59A8;
	color: #fff;
	padding:2px 15px 2px 15px;
	border-radius: 8px;
	font-family: 'Open Sans',sans-serif !important;
}
.cancel_button:hover{
	color: #fff;
	font-weight: bolder;
}

.cancel_button{
	background-color: #555555;
	color: #fff;
	padding:2px 18px 2px 18px;
	border-radius: 8px;
	font-family: 'Open Sans',sans-serif !important;
}

.edu_tech_blk_p{
	text-align: center;
	font-size: 24px !important;
	padding:0px;
	font-weight: bolder;
}
.edu_tech_click_p{
	text-align: center;
}
.edu_tech_click_img{
	text-decoration-line: none !important;	
}
.edu_tech_click_img:hover{
	text-decoration-line: none !important;
	background-color: :#000;
	/*border: 1px solid #ccc;*/
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	border-color:#ccc !important;
}
.edu_tech_img_p{
	text-align: center;	
	}
.edu_tech_button_p{
	border: 2px;
	text-align: center;	
	border-radius:25px;
}
.edu_tech_padding{
	padding-top:5%;
}

.edu_border_right{
	border-right: 2px solid #ccc;
}
.edu_span_blue{
	color :#5759a6;
}
.edu_span_green{
	color :#17a54f;
}
.edu_span_red{
	color :#ec2029;
}
.edu_padding_bottom{
  padding-bottom: 2%;
}
.icon_size{
    font-size: 8px;
    padding-right: 10px;
    padding-left: 20px;
    color:#ccc;
    text-align:center;
}
.div_background_color{
	background-color: #f5f5f5;
}

.paddingNavBar{
    padding-left: 10%;
    padding-bottom: 1%;
}

#featureList {
 height:100%;
 display:flex;
 justify-content: center;
 margin-top:30px;
 font-family: 'Open Sans',sans-serif !important;
 /*! display:-ms-flexbox; *//*! display:flex; *//*! -webkit-box-orient:horizontal; *//*! -webkit-box-direction:normal; *//*! -ms-flex-direction:row; *//*! flex-direction:row; *//*! -ms-flex-wrap:wrap; *//*! flex-wrap:wrap */
}
#featureList .feature-col {
    width: 24%;
    padding: 0 15px;
    box-sizing: border-box;
	float:left;
}
#featureList .features {
    margin-bottom: 30px;
    padding: 0;
    cursor: pointer;
}
#featureList .features .inner {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    height: 150px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    overflow: hidden;
    height:50%;
    padding-bottom: 20px;
}

#featureList .features header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #fff;
    text-align: center;    
}

#featureList .features ul {
    display: none;
    padding: 20px 20px;
    margin: 0;
    color:#b7b7b7;
}

#featureList .features:hover .inner {
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
#featureList .features.visible {
    cursor: default;
}
#featureList .features.visible .inner {
    height: auto;
}
#featureList .features.visible header {
    border-color: #f7f7f7;
    padding-bottom: 40px;
    cursor: pointer;
}
#featureList .features.visible ul {
    display: block;
}
#featureList .features ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
}
#featureList .features ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    padding: 8px 20px;
}
#featureList .features ul li a .icon {
    margin-right: 10px;
	font-size:30px;
	color:#666;
}
#featureList .features ul li a span {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
	display: flex;
	vertical-align: middle;
}

#featureList .features ul li a:hover span{
	color:#000;
}
.features .icons{
	font-size: 30px;
  /*  padding-top: 10px;
    padding-right: 40px;
    margin-right: 160px;*/
    color:#1D59A8;
}

.featurecategory {
    position: absolute;
    font-size: 16px;
    padding-top: 40px;
    font-weight: bold;
}
.featurecategory:after{
	content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 50%;
    bottom: 0px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: -105px;
    font-size: 18px;
    transition: all  0.6s ease;
    color: #1D59A8;
    padding-right: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.features.visible .featurecategory:after{
	transform:rotate(180deg);
	color:#1D59A8;
}
.display_block {
    display: block;
}
.featurecategory_ul_li{
	 font-size: 14px;
	 line-height: 25px;
}

.featuresInner{
	width: 100%;
	height: 75%;
}

.signinColor{
	color:#000;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
	width: :100%;
}

.loginButtonColor{
	color:#fff;
	background-color: #f7941d;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 3%;
}
.loginButtonColor:hover{
	color:#fff;
	letter-spacing: 3px;
}
.loginForget{
	color:#f7941d;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 6%;	
}
.loginRegText{
	border-top: 1px solid #ccc;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 8px;
	font-size: 14px !important;
}
.inputborder{
	padding-top: 5px;
	padding-bottom: 1px;
    background: transparent;
    border:none;
   /* border-bottom: 1px solid  #b7b7b7 !important;   */
   	width:255px !important;
    font-size: 14px;   
    display:inline-flex;
    padding-left: 7%;
    border-radius: 0px !important;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
}
.modal-headerSign {
	border-bottom: none !important;  
}
.iconSinginColor{
	color:#000;
}
.signInputBorder{
	border-bottom: 1px solid  #b7b7b7 !important;
	padding-left:5px;
	padding-bottom:5px;
}
.signspanColor{
	color:#f7941d;;
}

.validatErrorRed{
    border: 1px solid red !important;
    /*color:red;*/
}
.validatErrorTop{
	float: right;
	margin-top: -46px;
	color: red;
	opacity: 0.7;
	padding-right: 10px;
	font-size: 12px
}

















.icon{display: none;}
@media only screen and (max-width:480px){
	.iconic_header{display: none !important;}
	.header_aboutcontact{display: none !important;}
	.mob_view_bar{display: block !important;}
	.mob_line_icons{float: right;padding-right: 6%;padding-top:5%;}
	.mob_btn_icon{height: 35px;background-color: #f5791f;color: #fff;}
	.mob_ul_list{margin-top: 20%;margin-left: 0px;padding-left: 0px;font-weight: bold;}
	.Know_moreabout {width: 54%;height: 16%;border-radius: 10px;font-size: 14px;}
	.header_image{margin-top:3%;top: 10px !important;padding-left: 0% !important;}
	.homelist_select{color: black;}
    .homelist_select:hover{color:#f5791f;text-decoration: none;}
    .logo {text-align: center !important;}
	.form_col2 {
	    columns: 1 auto;
	    column-gap: 30px;    
	    text-align: center;  
	    break-inside: avoid;
	}
	.cover_text{ margin-top: 25%;}
	.icon_padding_blk {padding-left: 10%;}
	.icon_padding_blk_left {padding-left: 10%;}
	#featureList .feature-col { width: 100%;}
	.edu_border_right{border-right: 0px}
	.p_text_align_center{padding-left: 10%;padding-right: 10%;text-align: justify;}

}
@media only screen and (min-width:481px) and (max-width:640px){
	.layoff{
		margin-top: 19%;
	}
	.iconic_header{display: none !important;}
	.header_aboutcontact{display: none !important;}
	.mob_view_bar{display: block !important;}
	.mob_line_icons{float: right;padding-right: 6%;padding-top: 10%;}
	.mob_btn_icon{height: 20px;background-color: #f5791f;color: #fff;}
	.mob_ul_list{margin-top: 45%;margin-left: 0px;padding-left: 0px;font-weight: bold;}
	.homelist_select{color: black;}
    .homelist_select:hover{color:#f5791f;text-decoration: none;}

}