 <div class="modal-header modal-headerSign text-center">
        <h4 class="modal-title w-100 font-weight-bold signinColor">Sign In</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body mx-3">
        <div id="error"></div>
        <div class="container">
            <div class="md-form col-md-12 signInputBorder">
                <label data-error="wrong" data-success="right" for="defaultForm-email" class="iconSinginColor">
                <i class="fa fa-user" aria-hidden="true" style="font-size: 20px;"></i></label>
                <input type="text" name="username" placeholder="Username" id="id_username" class="form-control validate inputborder">
            </div>
            <div class="md-form col-md-12 signInputBorder">
                <label data-error="wrong" data-success="right" for="defaultForm-pass" class="iconSinginColor">
                <i class="fa fa-lock" aria-hidden="true" style="font-size: 20px;"></i></label>
                <input type="password"  placeholder="Password" id="id_password" name="password" class="form-control validate inputborder">
            </div>
        </div>     
        <div class="col-md-12 modal-footer d-flex justify-content-center" style="border:none !important; padding-top: 30px;">
            <button type="submit" class="btn btn-default loginButtonColor" id="signIn" style="width:100%;"><b>Sign In</b></button></div>
        <div class="loginForget">
            <span class="psw"><a style="color:#f7941d;" href="{% url 'password_reset' %}">Forgot password?</a></span>
        </div>
     </div>
    <div>
        <p class="loginRegText">Don't have an account? <span class="signspanColor"><a style="color:#f7941d;" href="/accounts/signup/#registerFree">Register Now !</a></span></p>
    </div>
</div>
</div>
  <script type="text/javascript">
        $('#signIn').click(function(){
            var username = $('#id_username').val();
            var password = $('#id_password').val();
            $.ajax({
                    url: "/login/",
                    type: "POST",
                    data: {username:username,password:password},
                    success: function(data)
                    {
                        if(data.status=="200"){
                            window.location = data.url;
                        }else{
                            $("#error").html('<div class="alert alert-danger alert-dismissible fade show"><strong>Error!</strong>'+data.message+'</div>');
                        }
                    },
                    error: function() 
                    {
                        alert("hu something went")
                    }           
                });
            });
    </script>

