{% extends 'login/header.html' %}
{% load staticfiles %}
{% block content %}
<div class="image_cover">
	<div class="col-md-12 col-sm-12 col-xs-12  nopadding">	
		<h1 class="cover_text">Your Institution's Enrolments Solution</h1>
		<p class="cover_text_p">Simplifying your admission cycle from enquiry to enrolment</p>
		<button class="btn cover_button"><a style="color:#fff;" href="#registerFree">Get Started Now !</a></button>
	</div>
</div>
<div class="main_heading">
	<h4 class="headFourth">Simply School Management with Schoolforte</h4>
	<p class="headFourthP">School Management Software simplify and automate daily tasks and operations with out of the box of school software</p>
</div>
<div class="container">
<h1 class="heading_align">Benefits of  SchoolForte</h1>
<div class="container-fluid">
	<div class="row" style="padding-bottom: 4%;">
		<div class="col-md-5 col-sm-4 col-xs-12 row">
			<div class="row">
				<div class="col-md-8 col-sm-10 col-xs-12 text_padding_blk">
					<h5 class="heading_bold">Capture</h5>
					<p class="text_padding_blk_p">Auto capture all your Office and Online leads at the One Centralised Plaftform.</p>							
				</div>
				<div class="col-md-4 col-sm-2 col-xs-12 icon_padding_blk">
					<p><img src="/static/images/capture_01.png"></p>					
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-10 col-xs-12 text_padding_blk">
					<h5 class="heading_bold">Nuture</h5>
					<p class="text_padding_blk_p">Convert your leads into Applications through Strategic Lead Nuturing.</p>							
				</div>
				<div class="col-md-4 col-sm-2 col-xs-12 icon_padding_blk">
					<p><img src="/static/images/nurture_01.png"></p>						
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-10 col-xs-12 text_padding_blk">
					<h5 class="heading_bold">Manage</h5>
					<p class="text_padding_blk_p">Manage Leads and Applications seamlessly for a consolidated Application Lifecycle Report.</p>							
				</div>
				<div class="col-md-4 col-sm-2 col-xs-12 icon_padding_blk">
					<p><img src="/static/images/manage_01.png"></p>				
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-3 col-xs-12 phone_nopadding">
			<p><img class="phone_img" src="/static/images/phone.png"></p>
		</div>
		<div class="col-md-5 col-sm-4 col-xs-12 ">						
			<div class="row">
				<div class="col-md-3 col-sm-2 col-xs-12 icon_padding_blk_left">
					<p><img src="/static/images/automate_01.png"></p>						
				</div>
				<div class="col-md-9 col-sm-10 col-xs-12 text_padding_blk">
					<h5 class="heading_bold">Automate</h5>
					<p class="text_padding_blk_p">Automate and personalse marketing campaigns for tedious repetitive nuturing with an intutive workflow builder.</p>
				</div>							
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-2 col-xs-12 icon_padding_blk_left">
					<p><img style="padding-top: 55%;" src="/static/images/integrate_01.png"></p>						
				</div>
				<div class="col-md-9 col-sm-10 col-xs-12 text_padding_blk">
					<h5 class="heading_bold" style="padding-top: 6%;">Integrate</h5>
					<p class="text_padding_blk_p">Integrate seamlessly with cloud telephony chat social websites, third-party APIs, and with your existing IT-fabric and ERP.</p>
				</div>							
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-2 col-xs-12 icon_padding_blk_left">
					<p><img style="padding-top: 55%;" src="/static/images/track_01.png"></p>						
				</div>
				<div class="col-md-9 col-sm-10 col-xs-12 text_padding_blk">
					<h5 class="heading_bold" style="padding-top: 6%;">Track</h5>
					<p class="text_padding_blk_p">Track lead sources, lead status (verified/unverified), campaigns performance, increase yields, and deliver better outcomes for your institution.</p>
				</div>							
			</div>						
		</div>
	</div>
</div>
</div>
<div  class="div_background_color"  style="padding-bottom: 4%;">
	<div class="container">			
		<h1 class="second_main_heading">One web based applications for everyone in your school</h1>
		<p class="p_text_align_center">Schoolforte Management Software offers one common database and configurable user profiles, allowing administrations, teachers, student parents to share the information with each other.</p>

		<div id="featureList" class="display_block">
			<div class="col-md-12 col-sm-12 col-xs-12 row container">
				<div class="feature-col col-md-3 col-sm-3 col-xs-12">
					<div class="features">
						<div class="inner">
							<header>
								<div class="icons">
									<i class="fa fa-pencil-square-o"></i>
								</div>
								<div class="featurecategory">Academic</div>
							</header>
							<ul>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Enquiry Form</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Admission &#x0026; Environment</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Attendance</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Timetable</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Sessions and Batches</li>
							</ul>
						</div>
					</div>
					<div class="features">
						<div class="inner">
							<header>
								<div class="icons">
									<i class="fa fa-comments"></i>
								</div>
								<div class="featurecategory">Communication</div>
							</header>
							<ul>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Enquiry Form</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Admission &#x0026; Environment</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Attendance</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Timetable</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Sessions and Batches</li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="feature-col col-md-3 col-sm-3 col-xs-12">
					<div class="features">
						<div class="inner">
							<header>
								<div class="icons">
									<i class="fa fa-user"></i>
								</div>
								<div class="featurecategory">Management</div>
							</header>
							<ul>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Enquiry Form</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Admission &#x0026; Environment</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Attendance</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Timetable</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Sessions and Batches</li>
							</ul>
						</div>
					</div>
					<div class="features">
						<div class="inner">
							<header>
								<div class="icons">
									<i class="fa fa-child"></i>
								</div>
								<div class="featurecategory">Student Portal</div>
							</header>
							<ul>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Enquiry Form</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Admission &#x0026; Environment</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Attendance</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Timetable</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Sessions and Batches</li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="feature-col col-md-3 col-sm-3 col-xs-12">
					<div class="features">
						<div class="inner">
							<header>
								<div class="icons">
									<i class="fa fa-bar-chart"></i>
								</div>
								<div class="featurecategory">Reports</div>
							</header>
							<ul>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Enquiry Form</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Admission &#x0026; Environment</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Attendance</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Timetable</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Sessions and Batches</li>
							</ul>
						</div>
					</div>
					<div class="features">
						<div class="inner">
							<header>
								<div class="icons">
									<i class="fa fa-headphones" aria-hidden="true"></i>
								</div>
								<div class="featurecategory">Support Desk</div>
							</header>
							<ul>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Enquiry Form</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Admission &#x0026; Environment</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Attendance</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Timetable</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Sessions and Batches</li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="feature-col col-md-3 col-sm-3 col-xs-12">
					<div class="features">
						<div class="inner">
							<header>
								<div class="icons">
									<i class="fa fa-inr" aria-hidden="true"></i>
								</div>
								<div class="featurecategory">Finance</div>
							</header>
							<ul>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Enquiry Form</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Admission &#x0026; Environment</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Attendance</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Timetable</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Sessions and Batches</li>
							</ul>
						</div>
					</div>
					<div class="features">
						<div class="inner">
							<header>
								<div class="icons">
									<i class="fa fa-sitemap"></i>
								</div>
								<div class="featurecategory">Others</div>
							</header>
							<ul>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Enquiry Form</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Admission &#x0026; Environment</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Attendance</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Timetable</li>
								<li class="featurecategory_ul_li"><span class="icon_size"><i class="fa fa-circle"></i></span>Sessions and Batches</li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="padding-bottom: 4%;">
	<h4 class="text_alignc">LEARN MORE ABOUT US</h4>
	<h2 class="laptop_blk_heading">Why <span class="laptop_span_blue">School</span>Forte?</h2>
	<div class="col-md-12 col-sm-12 col-xs-12 row">
		<div class="col-md-8 col-sm-8 col-xs-12 laptop_text_align">
			<p>Thousands of students of admission queries, piles of attendance sheets and report cards. MyClassboard application helps school administrators to manage all the clerical tasks involved in running a school like managing student &#x0026; staff data, streamling administrative tasks and maximizing communication between school and parent.</p>
			<br>
			<p>A multipurpose school management software system that empowers schools to manage and monitor the day-to-day operations and functions of every department effectively.</p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<p><img class="laptop_width" src="/static/images/laptop_01.png"></p>
		</div>
	</div>
</div>
<div class="div_background_color" style="padding-bottom: 4%;">
	<div class="container" id="registerFree">
		<h1 class="second_main_heading">Ready to Get Started</h1>
		<p class="p_text_align_center">Interested in learning more about SchoolForte? Register for Free</p>
		<div class="container" id="registerhide">
				<div class="form_col2">
					<input class="input_form_text reg_tab_half" type="text" name="first_name" tabindex="1" required="required" placeholder="Enter Your First Name(*) Max 50 Characters" autocomplete="off" maxlength="50" id="id_first_name"><br>
					<input class="input_form_text reg_tab_half" type="text" name="email" tabindex="3" id="id_email" required="required" placeholder="Enter Your Email(*) Max 50 Characters" autocomplete="off" maxlength="50"><br>
					{{form.errors.email}}
					<label id="email_error">email id already exist</label>
					<input class="input_form_text reg_tab_half" type="text" name="school" required="required" id="id_school" tabindex="5" placeholder="Enter School Name(*)" autocomplete="off" maxlength="50"><br>
					{{form.errors.school}}
					<label id="school_error">school is  already exist</label>

					<input class="input_form_text reg_tab_half" type="text" name="last_name" tabindex="2" required="required" id="id_last_name" placeholder="Enter Your Last Name(*) Max 50 Characters" autocomplete="off" maxlength="50"><br>
					<input class="input_form_text login_pass" type="password" tabindex="4" name="password1" required="required" id="id_password1" placeholder="Enter a Password for Your Account(*) Max 30 Character" autocomplete="off" maxlength="30"><br>
					<input class="input_form_text reg_tab_half" type="tel" name="mobile" tabindex="6" required="required" id="id_mobile" placeholder="Enter Your Mobile Number(*)" pattern="[0-9]{10,10}" autocomplete="off" maxlength="10" oninvalid="this.setCustomValidity('Please Enter Mobile Number')" oninput="setCustomValidity('')"><br>
					{{form.errors.mobile}}
					<label id="mobile_error">Mobile number already exist</label>
				</div>
				<div class="reg_text_align_center">
					<button type="submit" class="reg_button" id="registerform">Register</button>
					<button class="cancel_button">Cancel</button>
				</div>
		</div>
	</div>
</div>
<div class="container edu_padding_bottom" style="padding-bottom: 10px;">
	<h1 class="second_main_heading">Educational Technologies</h1>
	<div class="col-md-12 col-sm-12 col-xs-12 row edu_tech_padding" style="padding-bottom:2%;">
		<div class="col-md-4 col-sm-4 col-xs-12 edu_border_right">
			<p class="edu_tech_blk_p">Your next<br><span class="edu_span_blue">Teacher Hire</span> is here !</p>
			<div style="text-align:center;">
				<a class="edu_tech_button_p" href="#"><img class="edu_tech_click_img" src="/static/images/educational-tech_EO.png"></a>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 edu_border_right">
			<p class="edu_tech_blk_p"><span class="edu_span_green">Buy-Sell-Rent</span><br>School Property</p>
			<div style="text-align:center;">
				<a class="edu_tech_button_p" href="#"><img class="edu_tech_click_img" src="/static/images/educational-tech_SP.png"></a>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<p class="edu_tech_blk_p"><span class="edu_span_red">Buy School Products</span><br>and services</p>
			<div style="text-align:center;">
				<a class="edu_tech_button_p" href="#"><img class="edu_tech_click_img" src="/static/images/educational-tech_SSM.png"></a>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'erp/js/jquery.ajax.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  	$("#mobile_error").hide();
  	$("#uname_error").hide();
  	$("#email_error").hide();
  	$("#school_error").hide();
		$('#id_mobile').change(function(){
			var form = new FormData();
			form.append("mobile", $('#id_mobile').val());
			$.ajax({
					url: "/accounts/mobilevalidation/",
					type: "POST",
					data: form, 
					contentType: false,
					processData:false,
					success: function(data)
					{
						if(data=="yes"){
							$("#mobile_error").show();
							$("#mobile_error").addClass("validatErrorTop");
							$("#id_mobile").addClass("validatErrorRed");
							$("#signup").hide();
							return false;
						}else{
							$("#mobile_error").hide();
							$("#signup").show();
							$("#id_mobile").removeClass("validatErrorRed");
						}
					},
					error: function() 
					{

					} 	        
				});
			});
		$('#id_email').change(function(){
			var form = new FormData();
			form.append("email", $('#id_email').val());
			$.ajax({
					url: "/accounts/emailvalidation/",
					type: "POST",
					data: form, 
					contentType: false,
					processData:false,
					success: function(data)
					{
						if(data=="yes"){
							$("#email_error").show();
							$("#email_error").addClass("validatErrorTop");
							$("#id_email").addClass("validatErrorRed");
							return false;
						}else{
							$("#email_error").hide();
							$("#id_email").removeClass("validatErrorRed");
						}

					},
					error: function() 
					{

					} 	        
				});
			});
		$('#id_school').change(function(){
			var form = new FormData();
			form.append("school", $('#id_school').val());
			$.ajax({
					url: "/accounts/schoolvalidation/",
					type: "POST",
					data: form, 
					contentType: false,
					processData:false,
					success: function(data)
					{
						if(data=="yes"){
							$("#school_error").show();
							$("#school_error").addClass("validatErrorTop");
							$("#id_school").addClass("validatErrorRed");
							return false;
						}else{
							$("#school_error").hide();
							$("#id_school").removeClass("validatErrorRed");
						}

					},
					error: function() 
					{

					} 	        
				});
			});


$('#registerform').click(function(){
            var first_name = $('#id_first_name').val();
            var last_name = $('#id_last_name').val();
            var school = $('#id_school').val();
            var email = $('#id_email').val();
            var password1 = $('#id_password1').val();
            var mobile = $('#id_mobile').val();
            $.ajax({
                    url: "/",
                    type: "POST",
                    data: {first_name:first_name,last_name:last_name,school:school,email:email,password1:password1,mobile:mobile},
                    success: function(data)
                    {
                        if(data.status=="200"){
                           $("#registerhide").hide();
                        }else{
                            $("#error").html('<div class="alert alert-danger alert-dismissible fade show"><strong>Error!</strong>'+data.message+'</div>');
                        }
                    },
                    error: function() 
                    {
                        alert("hu something went")
                    }           
                });
            });

</script>

{% endblock %}