{% extends 'dashboard/header.html' %}
{% load static %}
{% block content %}
 <link href="{% static 'css/dynamicform_style.css' %}" rel="stylesheet">
 <style> .form-group,.form-control{
 	display: inherit;
	}
 	input, textarea{
 		width: 300px !important;
 	}

 </style>
 	<div class="breadcrumbs-area">
        <h3>All Subjects</h3>
        <ul>
            <li>
                <a href="../../../dashboard">Home</a>
            </li>
            <li>Form View</li>
        </ul>
    </div>
	<div class="container preview1">
		
			<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>			
			{% for i in answers %}
			<form action="/module/form-individual-profile/{{i.id}}/" method="POST"  class="preview1">
			<div id='form' class="col-12-md row content-box content-box-display split centered"></div>
			<script type="text/javascript">
				var form_fields = {{ i.form_field|safe }};
				var save_for_details = {{ i.saved_form_details|safe }};
				$(document).ready(function(){    
					html = '';
					for(i=0;i<form_fields.length;i++){
						var fields = form_fields[i].type
						if(form_fields[i].type=='checkbox-group'){
							var fields="checkbox";
						}
						if(form_fields[i].type=='radio-group'){
							var fields="radio";
						}	
						
						if(form_fields[i].type=='header'){	
							html += '<div class="col-12-md col-12-sm widthdivColPreview"> <'+form_fields[i].subtype+'>'+form_fields[i].label+'</'+form_fields[i].subtype+'></div>'
						}/*else if(form_fields[i].type=='paragraph'){
								html += '<div class="col-6-md col-12-sm widthdivSixColPreview paragraphformView"> <'+form_fields[i].subtype+'>'+form_fields[i].label+'</'+form_fields[i].subtype+'></div>'
						}*/else if(form_fields[i].type=='checkbox-group' || form_fields[i].type=='radio-group' ){
								html += '<div class="col-6-md  col-12-sm row form-group widthdivSixColPreview"><div class="col-3-md widthColThreePreview"><label for="'+form_fields[i].label+'">'+form_fields[i].label+'</label></div><div class="col-3-md  col-6-sm radioFormView ">'
								}
						else{
							for(k=0;k<save_for_details.length;k++){
										if(form_fields[i].name == save_for_details[k].name){
							html += '<div class="col-6-md col-12-sm row form-group widthdivSixColPreview"><div class="col-3-md  col-6-sm widthColThreePreview"><label for="'+form_fields[i].label+'">'+form_fields[i].label+'</label></div>'
								}
							}
						}						

						if(fields=='select'){
							for(k=0;k<save_for_details.length;k++){
										if(form_fields[i].name == save_for_details[k].name){
							html +=	'<div class="col-3-md col-6-sm widthColThreePreview"><select style="width: 295px;" class="'+form_fields[i].className+'" name="'+form_fields[i].name+'" id="'+form_fields[i].name+'"><option value="'+save_for_details[k].value+'">'+save_for_details[k].value+'</option>';
							for(j=0;j<form_fields[i].values.length;j++){
								html += '<option value="'+form_fields[i].values[j].value+'">'+form_fields[i].values[j].label+'</option>'
							}
							html +=	'</select></div></div><br>';
								}							
							}
						}else if(form_fields[i].type=='checkbox-group' || form_fields[i].type=='radio-group' ){
							for(j=0;j<form_fields[i].values.length;j++){
								for(k=0;k<save_for_details.length;k++){
										if(form_fields[i].name+"[]" == save_for_details[k].name){ 
											if(save_for_details[k].value== j){
												var checked =  "checked";
											}else{
												var checked =  "";
											}
								html += '<input class="" style="width: 30px !important;" type="'+fields+'"  id="'+form_fields[i].values[j].value+'"  '+checked+' name="'+form_fields[i].name+'[]" value="'+j+'"><label>'+form_fields[i].values[j].value+'</label>';
								 }
							  	}
							  	
							}
							html +='</div></div>'
						}else if(form_fields[i].type=='textarea'){
							for(k=0;k<save_for_details.length;k++){
										if(form_fields[i].name == save_for_details[k].name){ 
							html += '<div class="col-3-md col-6-sm widthColThreePreview"><'+form_fields[i].type+' name='+form_fields[i].name+' id='+form_fields[i].name+' class="'+form_fields[i].className+'" >'+save_for_details[k].value+'</'+form_fields[i].type+'></div></div>';
								}
							}
						}else if(form_fields[i].type == 'file'){
							for(k=0;k<save_for_details.length;k++){
								if(form_fields[i].name == save_for_details[k].name){ 
							  		html += '<div class="col-3-md  col-6-sm widthColThreePreview"><input type="'+fields+'" class="fileSingleView '+form_fields[i].className+'" onchange="upload_file(this.id)" id="'+form_fields[i].name+'" ><a href="'+save_for_details[k].value+'">'+form_fields[i].name+'</a><input type="hidden"  class="'+form_fields[i].name+'"  name="'+form_fields[i].name+'"></div></div>';
							  }
							 }
						}else{
							for(k=0;k<save_for_details.length;k++){
								if(form_fields[i].name == save_for_details[k].name){ 
									html += '<div class="col-3-md col-6-sm widthColThreePreview"><input type="'+fields+'" class="'+form_fields[i].className+'" id="'+form_fields[i].name+'" placeholder="'+form_fields[i].label+'" name="'+form_fields[i].name+'" value="'+save_for_details[k].value+'"></div></div>';
									}
								}	
						}
						}
							html += '<br><div class="col-12-md col-12-sm buttonFormViewdiv"><input type="hidden" name="saved_form_details" id="results"><input class="btn btn-warning buttonFormView widthPreviewButton" type="submit" onclick="checking()"value="Update" id="submit"></form></div></body></html>';
							$('#form').html(html);

						});
				function checking(){
					$('form').each(
						function(index){  
							var input = $(this).serializeArray();
									        	$('#results').val(JSON.stringify(input));
									        	//event.preventDefault();
									        });
				}
				function upload_file(e){
								var form = new FormData();
								form.append("image", document.getElementById(e).files[0]);
								$.ajax({
									url: "/module/uploadforms/",
									type: "POST",
									data:  form,
									contentType: false,
									processData:false,
									success: function(data)
									{
										base_url = '{{ request.get_host }}';
										$("."+e).val("http://"+base_url+data);
									},
									error: function() 
									{

									} 	        
								});
				}
			</script>
			{% endfor %}
<script src="{% static 'js/ajax-jquery.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var display_form = "{{display_form.module.module}}";
        if(display_form=='admissions'){
        	$(".admissions").addClass("menu-active");
        }else if(display_form=='inquiries'){
            $(".inquiries").addClass("menu-active");
        }else{
            $(".applications").addClass("menu-active");
        }
    });
</script>  
{% endblock %}

