 {% load staticfiles %}
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ERP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="{% static  'erp/css/normalize.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static  'erp/css/main.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static  'erp/css/bootstrap.min.css' %}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static  'erp/css/all.min.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static  'erp/fonts/flaticon.css' %}">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="{% static  'erp/css/fullcalendar.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static  'erp/css/animate.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static  'erp/css/style.css' %}">
    <link rel="stylesheet" href="{% static  'erp/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static  'erp/css/jquery-jvectormap-2.0.3.css' %}">
    <link rel="stylesheet" href="{% static  'erp/css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static  'erp/css/select2.min.css' %}">
    <!-- Modernize js -->
    <!--roles css-->
    <!-- <link rel="stylesheet" href="{% static 'css/roles_style.css' %}"> -->
    <!--workflow css-->
    <link href="{% static 'workflow/css/workflowstyle.css' %}" rel="stylesheet">
   
</head>
 <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
     <div class="navbar navbar-expand-md header-menu-one bg-light">
                <div class="nav-bar-header-one">
                    <div class="header-logo" style="width: 100px;">
                        <a href="index.html" style="width: 180px;">
                            <img src="{% static  'images/logo_white.png' %}" alt="logo">
                        </a>
                    </div>
                     <div class="toggle-button sidebar-toggle">
                        <button type="button" class="item-link">
                            <span class="btn-icon-wrap">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="d-md-none mobile-nav-bar">
                   <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                        <i class="far fa-arrow-alt-circle-down"></i>
                    </button>
                    <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
                    <ul class="navbar-nav">
                        <li class="navbar-item header-search-bar">
                            <div class="input-group stylish-input-group">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="flaticon-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control" placeholder="Find Something . . .">
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="navbar-item dropdown header-admin">
                            <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                <div class="admin-title">
                                    {% if user.is_authenticated %}
                                        <h5 class="item-title">{{ user.first_name }}</h5>
                                     {% endif %}
                                    <span>Admin</span>
                                </div>
                                <div class="admin-img">
                                    <img src="{% static  'erp/img/figure/admin.jpg' %} " alt="Admin">
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="item-header">
                                    {% if user.is_authenticated %}
                                        <h6 class="item-title">{{ user.first_name }}</h6>
                                    {% endif %}
                                </div>
                                <div class="item-content">
                                    <ul class="settings-list">
                                        <li><a href="/accounts/myprofile/"><i class="flaticon-user"></i>My Profile</a></li>
                                        <li><a href="#"><i class="flaticon-list"></i>Task</a></li>
                                        <li><a href="#"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a></li>
                                        <li><a href="#"><i class="flaticon-gear-loading"></i>Account Settings</a></li>
                                        <li><a href="/logout/"><i class="flaticon-turn-off"></i>Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="navbar-item dropdown header-message">
                            <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                <i class="far fa-envelope"></i>
                                <div class="item-title d-md-none text-16 mg-l-10">Message</div>
                                <span>5</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="item-header">
                                    <h6 class="item-title">05 Message</h6>
                                </div>
                                <div class="item-content">
                                    <div class="media">
                                        <div class="item-img bg-skyblue author-online">
                                            <img src="{% static  'erp/img/figure/student11.png' %}" alt="img">
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="item-title">
                                                <a href="#">
                                                    <span class="item-name">Maria Zaman</span> 
                                                    <span class="item-time">18:30</span> 
                                                </a>  
                                            </div>
                                            <p>What is the reason of buy this item. 
                                            Is it usefull for me.....</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="item-img bg-yellow author-online">
                                            <img src="{% static  'erp/img/figure/student12.png' %}" alt="img">
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="item-title">
                                                <a href="#">
                                                    <span class="item-name">Benny Roy</span> 
                                                    <span class="item-time">10:35</span> 
                                                </a>  
                                            </div>
                                            <p>What is the reason of buy this item. 
                                            Is it usefull for me.....</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="item-img bg-pink">
                                            <img src="{% static  'erp/img/figure/student13.png' %}" alt="img">
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="item-title">
                                                <a href="#">
                                                    <span class="item-name">Steven</span> 
                                                    <span class="item-time">02:35</span> 
                                                </a>  
                                            </div>
                                            <p>What is the reason of buy this item. 
                                            Is it usefull for me.....</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="item-img bg-violet-blue">
                                            <img src="{% static  'erp/img/figure/student11.png' %}" alt="img">
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="item-title">
                                                <a href="#">
                                                    <span class="item-name">Joshep Joe</span> 
                                                    <span class="item-time">12:35</span> 
                                                </a>  
                                            </div>
                                            <p>What is the reason of buy this item. 
                                            Is it usefull for me.....</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="navbar-item dropdown header-notification">
                            <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                <i class="far fa-bell"></i>
                                <div class="item-title d-md-none text-16 mg-l-10">Notification</div>
                                <span>8</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="item-header">
                                    <h6 class="item-title">03 Notifiacations</h6>
                                </div>
                                <div class="item-content">
                                    <div class="media">
                                        <div class="item-icon bg-skyblue">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="post-title">Complete Today Task</div>
                                            <span>1 Mins ago</span>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="item-icon bg-orange">
                                            <i class="fas fa-calendar-alt"></i>
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="post-title">Director Metting</div>
                                            <span>20 Mins ago</span>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="item-icon bg-violet-blue">
                                            <i class="fas fa-cogs"></i>
                                        </div>
                                        <div class="media-body space-sm">
                                            <div class="post-title">Update Password</div>
                                            <span>45 Mins ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--  <li class="navbar-item dropdown header-language">
                            <a class="navbar-nav-link dropdown-toggle" href="#" role="button" 
                            data-toggle="dropdown" aria-expanded="false"><i class="fas fa-globe-americas"></i>EN</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">English</a>
                                <a class="dropdown-item" href="#">Spanish</a>
                                <a class="dropdown-item" href="#">Franchis</a>
                                <a class="dropdown-item" href="#">Chiness</a>
                            </div>
                        </li -->>
                    </ul>
                </div>
            </div>
            <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
               <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <a href="index.html"><img src="{% static  'erp/img/logo1.png' %}" alt="logo"></a>
                    </div>
               </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link"><i class="fas fa-angle-right"></i>Admin</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index3.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Students</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index4.html" class="nav-link"><i class="fas fa-angle-right"></i>Parents</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index5.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Teachers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a href="https://www.schoolprop.com/" target="_blank" class="nav-link "><i class="flaticon-bed"></i><span>School Preoperty</span></a>
                        </li>
                        <li class="nav-item ">
                            <a href="https://www.educatorone.com/" target="_blank"  class="nav-link "><i class="flaticon-bed"></i><span>Hire Teachers</span></a>
                        </li>
                        <li class="nav-item ">
                            <a href="https://www.schoolprop.com/" target="_blank" class="nav-link "><i class="flaticon-bed"></i><span>Buy school supplies</span></a>
                        </li>
                        <li class="nav-item ">
                            <a href="https://www.schoolsupermart.com/"  target="_blank" class="nav-link "><i class="flaticon-bed"></i><span>Manage Admission</span></a>
                        </li>
                        <li class="nav-item ">
                            <a href="" class="nav-link "><i class="flaticon-bed"></i><span>Manage Revenue</span></a>
                        </li>
                        <li class="nav-item ">
                            <a href="/module/form-view/inquiries" class="nav-link inquiries"><i class="flaticon-bed"></i><span>Inquiries</span></a>
                        </li>
                        <li class="nav-item ">
                            <a href="/module/form-view/applications" class="nav-link applications"><i class="flaticon-bed"></i><span>Applications</span></a>
                        </li>
                        <li class="nav-item ">
                            <a href="/module/form-view/admissions" class="nav-link admissions"><i class="flaticon-bed"></i><span>Admissions</span></a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Settings</span></a>
                            <ul class="nav sub-group-menu settings-subgroup">
                                <li class="nav-item school-profile">
                                    <a href="/accounts/school-profile/" class="nav-link school-profile"><i class="fas fa-angle-right"></i>School Profile</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Branches</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>organisation structure</a>
                                </li> -->
                                <li class="nav-item userPremission">
                                    <a href="/accounts/user-permission" class="nav-link userPremission"><i class="fas fa-angle-right"></i>User permission</a>
                                </li>
                                <li class="nav-item user-details">
                                    <a href="/accounts/create-user" class="nav-link user-details"><i class="fas fa-angle-right"></i>Employees</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Pre Admission</a>
                                </li>
                                <li class="nav-item allform">
                                    <a href="/module/saved-forms" class="nav-link allform"><i class="fas fa-angle-right"></i>Forms & Layouts</a>
                                </li>
                               <!--  <li class="nav-item formpreview">
                                    <a href="/module/list/" class="nav-link formpreview"><i class="fas fa-angle-right"></i>Form Preview</a>
                                </li> -->
                                 <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Alerts</a>
                                </li>
                                <li class="nav-item template-create">
                                    <a href="/workflow/create-template/" class="nav-link template-create"><i class="fas fa-angle-right"></i>Templates</a>
                                </li>
                                <li class="nav-item workflow">
                                    <a href="/workflow/" class="nav-link workflow"><i class="fas fa-angle-right"></i>Workflow</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Imap</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Sms</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>subscriotion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Invoice</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Campaigns</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Announce</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Online Pay</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Fee Discount</a>
                                </li>
                            </ul>
                        </li>
                        
                       <!--  <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Forms</span></a>
                            <ul class="nav sub-group-menu forms-subgroup">
                                 <li class="nav-item enquiry-Form">
                                    <a href="/module/list/inquiries" class="nav-link enquiry-Form"><i class="fas fa-angle-right"></i>Inquiry</a>
                                </li>
                                <li class="nav-item Admission-Form">
                                    <a href="/module/list/admissions" class="nav-link Admission-Form"><i class="fas fa-angle-right"></i>Admission</a>
                                </li>
                                <li class="nav-item forms-individualFormView">
                                    <a href="/module/list/" class="nav-link forms-individualFormView"><i class="fas fa-angle-right"></i>Form list</a>
                                </li>
                                <li class="nav-item forms-FormView">
                                    <a href="/module/form-view/" class="nav-link forms-FormView"><i class="fas fa-angle-right"></i>Form view</a>
                                </li>
                            </ul>
                        </li> -->
                       <!--  <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Automation</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/workflow/" class="nav-link"><i class="fas fa-angle-right"></i>Workflow</a>
                                </li>
                            </ul>
                        </li> -->
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="all-student.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Students</a>
                                </li>
                                <li class="nav-item">
                                    <a href="student-details.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Student Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="admit-form.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Admission Form</a>
                                </li>
                                <li class="nav-item">
                                    <a href="student-promotion.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Student Promotion</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-multiple-users-silhouette"></i><span>Teachers</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="all-teacher.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Teachers</a>
                                </li>
                                <li class="nav-item">
                                    <a href="teacher-details.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Teacher Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="add-teacher.html" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Teacher</a>
                                </li>
                                <li class="nav-item">
                                    <a href="teacher-payment.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Payment</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-couple"></i><span>Parents</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="all-parents.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Parents</a>
                                </li>
                                <li class="nav-item">
                                    <a href="parents-details.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Parents Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="add-parents.html" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Parent</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-books"></i><span>Library</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="all-book.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Book</a>
                                </li>
                                <li class="nav-item">
                                    <a href="add-book.html" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                        Book</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-technological"></i><span>Acconunt</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="all-fees.html" class="nav-link"><i class="fas fa-angle-right"></i>All Fees
                                        Collection</a>
                                </li>
                                <li class="nav-item">
                                    <a href="all-expense.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Expenses</a>
                                </li>
                                <li class="nav-item">
                                    <a href="add-expense.html" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Expenses</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Class</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="all-class.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Classes</a>
                                </li>
                                <li class="nav-item">
                                    <a href="add-class.html" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                        Class</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="all-subject.html" class="nav-link"><i
                                    class="flaticon-open-book"></i><span>Subject</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="class-routine.html" class="nav-link"><i class="flaticon-calendar"></i><span>Class
                                    Routine</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="student-attendence.html" class="nav-link"><i
                                    class="flaticon-checklist"></i><span>Attendence</span></a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Exam</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="exam-schedule.html" class="nav-link"><i class="fas fa-angle-right"></i>Exam
                                        Schedule</a>
                                </li>
                                <li class="nav-item">
                                    <a href="exam-grade.html" class="nav-link"><i class="fas fa-angle-right"></i>Exam
                                        Grades</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="transport.html" class="nav-link"><i
                                    class="flaticon-bus-side-view"></i><span>Transport</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="hostel.html" class="nav-link"><i class="flaticon-bed"></i><span>Hostel</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="notice-board.html" class="nav-link"><i
                                    class="flaticon-script"></i><span>Notice</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="messaging.html" class="nav-link"><i
                                    class="flaticon-chat"></i><span>Messeage</span></a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-menu-1"></i><span>UI Elements</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="button.html" class="nav-link"><i class="fas fa-angle-right"></i>Button</a>
                                </li>
                                <li class="nav-item">
                                    <a href="grid.html" class="nav-link"><i class="fas fa-angle-right"></i>Grid</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-tab.html" class="nav-link"><i class="fas fa-angle-right"></i>Tab</a>
                                </li>
                                <li class="nav-item">
                                    <a href="progress-bar.html" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Progress Bar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="map.html" class="nav-link"><i
                                    class="flaticon-planet-earth"></i><span>Map</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="account-settings.html" class="nav-link"><i
                                    class="flaticon-settings"></i><span>Account</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dashboard-content-one">
            {% block content %}{% endblock %}
                
                <!-- Footer Area End Here -->
            </div>
            <footer class="footer-wrap-layout1  footer">
                    <div class="copyright">© Copyrights <a href="#">schoolserv.in</a> 2019. All rights reserved. Designed by <a href="#">schoolserv.in</a></div>
            </footer>
        </div>
        <!-- Page Area End Here -->
    </div>
   <!--  <script src="{% static 'erp/js/jquery.ajax.min.js' %}"></script> -->
    <script src="{% static 'erp/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'erp/js/plugins.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'erp/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'erp/js/bootstrap.min.js' %}"></script>
    <!-- Counterup Js -->
    <script src="{% static 'erp/js/jquery.counterup.min.js' %}"></script>
    <!-- Moment Js -->
    <script src="{% static 'erp/js/moment.min.js' %}"></script>
    <!-- Waypoints Js -->
    <script src="{% static 'erp/js/jquery.waypoints.min.js' %}"></script>
    <!-- Scroll Up Js -->
    <script src="{% static 'erp/js/jquery.scrollUp.min.js' %}"></script>
    <!-- Full Calender Js -->
    <script src="{% static 'erp/js/fullcalendar.min.js' %}"></script>
    <!-- Chart Js -->
    <script src="{% static 'erp/js/Chart.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'erp/js/main.js' %}"></script>

    <script src="{% static 'erp/js/jquery.dataTables.min.js' %}"></script>

    <script src="{% static 'erp/js/countrystatecity.js' %}"></script>

    <script src="{% static 'formbuilder/jquery-ui.min.js' %}"></script>

    <script src="{% static 'formbuilder/form-builder.min.js' %}"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="{% static  'erp/js/modernizr-3.6.0.min.js' %}"></script>
